/* css styling for FSND blog project */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
    text-decoration: none;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* signup and login form css */
legend {
    font-size: 20px;
    font-weight: bold;
}

label.field {
    text-align: right;
    width: 150px;
    float: left;
}

a.newpost-link {
    float: right;
    padding-left: 5px;
}

a.home-link {
    float: right;
    padding-left: 5px;
}

/* post-form and edit-post css */
label.newpost_field {
    font-size: 15px;
    font-weight: bold;
}

input[type=submit] {
    margin-top: 5px;
    font-size: 15px;
}

.error {
    color: red;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

.post-heading {
    position: relative;
    height: auto;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    width: 50%;
    display: inline-block;
}

.post-author {
    width: 15%;
    display: inline-block;
}

.post-date {
    color: #999;
    width: 15%;
    display: inline-block;
}

.post-likes {
    width: 10%;
    display: inline-block;
}

.post + .post {
    margin-top: 15px;
}

.post-content {
    margin-top: 5px;
}

.comment-section-label {
    margin-bottom: 1px;
    display: inline-block;
    width: 25%;
}

.add-comment {
    display: inline-block;
    width: 25%;
}

.comment-header {
    position: relative;
    height: auto;
    border-bottom: 1px solid #666;
    text-align: justify;
    margin: 15px;
}

.comment-author {
    font-weight: bold;
    width: 25%;
    display: inline-block;
}

.comment-date {
    color: #999;
    width: 25%;
    display: inline-block;
}

.comment-content {
    margin-left: 15px;
    margin-right: 15px;
}

.comment {
    margin: 20px;
}

.comment-content + .comment-content {
    margin-top: 15px;
}

