{% extends "base.html" %}

{% block content %}

    <form method="post">
        <h2>Edit Post</h2>
        <p>
            <a class="cancel-link" href="/blog">cancel</a>
            <label class="newpost_field" for="subject">Subject:</label>
            <br>
            <input type="text" name="subject" id="subject" value="{{subject}}">
        </p>
        <p>
            <label class="newpost_field" for="content">Content:</label>
            <br>
            <textarea name="content" id="content">{{content}}</textarea>
        </p>
        <span class="error">{{error}}</span>
        <br>
        <input type="submit">
    </form>

{% endblock %}
