{% extends "base.html" %}


{% block content %}
<form method="post">
    <h2>Sign Up</h2>
    <br>
    <label>
        Username
        <input type="text" name="username" value="{{username}}">
        <span class="error">{{error_username}}</span>
    </label>
    <br>
    <label>
        Password
        <input type="password" name="password" value="{{password}}">
        <span class="error">{{error_password}}</span>
    </label>
    <br>
    <label>
        Verify Password
        <input type="password" name="verify" value="{{verify}}">
        <span class="error">{{error_verify}}</span>
    </label>
    <br>
    <label>
        Email
        <input type="text" name="email" value="{{email}}">
        <span class="error">{{error_email}}</span>
    </label>
    <br>
    <input type="submit">
</form>
{% endblock %}
